@use '../utilities/functions.scss' as func;

* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    &--column {
        flex-flow: column nowrap;
        justify-content:space-between;
        align-items: center;
    }
    &--row {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    &--main {
        flex-flow: column nowrap;
        gap: func.rem(23);
        justify-content: flex-start;
        align-items: center;
    }
    &--buttons {
        flex-flow: column nowrap;
        gap: func.rem(15);
        justify-content: center;
        align-items: center;
    }
}

.main {
    height: func.rem(477);
}

.border {
    &--1{
        border: solid yellow ;
    }
    &--2{
        border: solid red;
    }
}