@use '../utilities/colors.scss' as *;

.body {
    background-color: $PaleBlue;
    background-image: url();
    background-position:top left;  
    background-size:contain;
    background-repeat: no-repeat;

}
